@import url('https://fonts.googleapis.com/css?family=Inter:400,600,800&display=swap');


body{
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	transition: .5s;
	line-height: 1.4;
	background: #004A5A;
}

.landingpage{
	/* background-size: cover; */
	background-color: #004A5A;
	height: 100vh;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
}


.flex-container{
	display: flex;
	height: 100vh;
  	align-content: center;
  	justify-content: center;
  	align-items: center;
}

.project-description{
	margin: 0 25% 0 0px;
	flex-grow: 1;
}

.project-image{
	margin: 0 10% 0 20%;
	flex-grow: 1;
}

.big-img{
	height: 80vh;
	margin-left: 20%;
}

.flex-container-intro{
	display: flex;
	height: 100vh;
  	align-content: center;
  	justify-content: center;
  	align-items: center;
		flex-direction: row-reverse;
		/* border: 1px solid; */
}

.intro{
	width: 40vw;
	color: white;
	font-weight: 600;
	text-align: left;
	/* border: 1px solid; */
}

.intro-image{
	margin-right: 35%;
	flex-grow: 1;
	height: 80vh;
	padding: 5vh 0 0 0;
	/* border: 1px solid; */
}

.header-description{
	margin: -5% 10% 0 35%;
	padding: 0 0 0 0;
	flex-grow: 1;
	/* border: 1px solid; */
}

.header-img{
	height: 55vh;
	border-radius: 50%;
	/* margin-right: 40%;
	margin-left: 40%; */
}

.header-title{
	font-weight: 800;
	font-size: 50px;
	line-height: 70px;
	width: 40vw;
	margin: 0;
}

.project-title{
	font-weight: 800;
	font-size: 70px;
	line-height: 70px;
	width: 40vw;
}

.project-subtitle{
	font-weight: 600;
	font-size: 15px;
}

.project-about{
	font-weight: 600;
	font-size: 16px;
	margin-top: 4%;
}

.know-more-button{
	margin-top:4%;
	padding: 6px 16px 12px 16px;
	width: auto;
	border-radius: 8px;
	transition: box-shadow 0.2s ease-in-out;
	border: none;
	font-size: 15px;
}

.know-more-button:hover{
	transform: translateY(-2px);
	box-shadow: 3px 9px 30px -17px rgba(0,0,0,0.75);
	transition: 0.5s;
}

.resume-button{
	margin-top:2%;
	padding: 6px 16px 12px 16px;
	width: auto;
	border-radius: 8px;
	transition: box-shadow 0.2s ease-in-out;
	border: none;
	font-size: 15px;
}

.resume-button:hover{
	transform: translateY(-2px);
	box-shadow: 3px 9px 59px -17px rgba(0,0,0,0.55);
	transition: 0.5s;
}

.contact-button{
	margin-top:3%;
	margin-left: 2%;
	padding: 6px 16px 12px 16px;
	width: auto;
	border-radius: 8px;
	transition: box-shadow 0.3s;
	border: none;
	font-size: 15px;
}

.contact-button:hover{
	transform: translateY(-2px);
	box-shadow: 3px 9px 59px -17px rgba(0,0,0,0.55);
	transition: 0.5s;

}

.headericon{
	position: relative;
	top: 4.75px;
	right: 6px;
	height: 20px;
	width: auto;
}

.icon{
	position: relative;
	top: 5px;
	left: 5px;
	height: 20px;
	width: auto;
}

a{
	text-decoration:none;
	color: inherit;
}

.filler{
	height: 0px;
}

/*Colors*/

.text-white{
	color: #ffffff;
}

.text-dark-gray{
	color: #404040;
}

.text-histare-gray{
	color: #9E9F9F;
}

.text-bluegreen{
	color: #00C6AE;
}

.text-blue{
	color: #58B9FF;
}

.text-pink{
	color: #F479D1;
}

.text-purple{
	color: #8C7BD1;
}

.text-golden{
	color: #EBC481;
}

.text-green{
	color: #5EBE87;
}

.fill-purple{
	fill: #8C7BD1;
}

.fill-bluegreen{
	fill: #00C6AE;
}

.fill-pink{
	fill:#F479D1;
}

.fill-white{
	fill:#ffffff;
}

.fill-green{
	fill:#5EBE87;
}

/*Backgrounds*/

.noBackground{
	background: rgba(0,0,0,0) !important;

}
.bg-blue{
	background: #58B9FF;
}

.bg-gray{
	background: #282828;
}

.bg-pink{
	background: #F479D1;
}

.bg-white{
	background: #ffffff;
}

.bg-green{
	background: #5EBE87;
}

.bg-blue-green{
	background: #00C6AE;
}
/*Parallax*/

.visible, .invisible {
  opacity: 0.0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1.0;
}

.footer{
  font-weight: 400;
  width: auto;
  color: #00C6AE;
  height: auto;
  position: relative;
  bottom: 0;
	margin-top: 1%;
	padding-right: 10%;
  padding-bottom: 20px;
  text-align: right;
  font-size: 24px;
	letter-spacing: 4px;
}

.fa:hover{
	color: white;
}


/* .hvr-grow-shadow{
  background-color: #F1F1F1;
  display: inline;
  border: none;
  margin: 4px;
  border-radius: 32px;
  color: rgba(0, 0, 0, 0.85);
  width: 36px;
  height: 36px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-transform;
} */

/* .hvr-grow-shadow:hover,
.hvr-grow-shadow:active{
  box-shadow: 0px 3px 34px -4px rgba(59, 89, 153, 0.7);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  outline: none;
} */

.heart{
  display: inline;
  font-size: 14px;
  color: #e74c3c;
}

.bottomline{
	color: white;
	text-align: center;
	padding-bottom: 2vh;
	line-height: 24px;
	/* background: #5EBE87; */
}

@media only screen and (max-width: 768px) {

/* .landingpage{
	background-image: url('../images/background_2.png');
	background-size: contain;
	background-color: #004A5A;
	height: 200vw;
	width: auto;
  	background-attachment: fixed;
  	background-position: bottom;
  	background-repeat: no-repeat;
} */

/* .intro{
	padding: 20vw 40px 0 40px;
	margin: auto;
	width: 80vw;
	text-align: center;
	color: white;
	font-weight: 600;
} */

.flex-container-intro{
	display: flex;
		flex-direction: column-reverse;
	}

	.intro{
		font-size: 15px;
		margin: 12px 0 0 0;
		padding: 0 20px 0 20px;
		color: white;
		font-weight: 500;
		text-align: left;
		width: 85vw;
		/* border: 1px solid; */
	}

	.intro-image{
		/* border: 1px solid; */
		align-items: center;
		margin: auto;
		height: auto;
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		padding: 0vh 0 0 0;
	}

	.header-description{
		margin: 0 0 0 0;
		padding: 0;
		flex-grow: 1;
		/* border: 1px solid; */
	}

	.header-img{
		height: 45vh;
		position:absolute;
		bottom: 0;
		margin: auto;
		border-radius: 0;
		/* border: 1px solid red; */
	}

	.header-title{
		font-weight: 800;
		font-size: 32px;
		line-height: 40px;
		width: 90vw;
		margin: 12% 0 0 0;
		padding: 0 10px 0 20px;
		line-height: 50px;
	}


.flex-container{
	flex-direction: column;
}

.project-image{
	margin: -40px 0 20px 0;
}

.project-description{
	margin: 0;
	padding-left: 32px;
	padding-right: 32px;
	flex-grow: 1;
}

.project-title{
	font-weight: 800;
	font-size: 44px;
	width: auto;
	line-height: 1.1;
	padding-bottom: 8px;
}

.project-subtitle{
	font-weight: 600;
	font-size: 15px;
	padding-bottom: 16px;
}

.project-about{
	font-weight: 600;
	font-size: 16px;
	margin-top: 2%
}

.big-img{
	width: 50vw;
	height: auto;
	margin:0;
}

.know-more-button{
	/* margin-top:4%; */
	padding: 6px 16px 12px 16px;
	width: auto;
	border-radius: 8px;
}

.resume-button{
	margin-top:4%;
	margin-left: 20px;
	padding: 6px 16px 12px 16px;
	width: auto;
	border-radius: 8px;
	transition: box-shadow 0.2s ease-in-out;
	border: none;
	font-size: 15px;
}

.resume-button:hover{
	transform: scale(1.05, 1.05);
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.contact-button{
	margin-top:10%;
	margin-left: 3%;
	padding: 6px 16px 12px 16px;
	width: auto;
	border-radius: 8px;
	transition: box-shadow 0.2s ease-in-out;
	border: none;
	font-size: 15px;
}

.icon{
	position: relative;
	top: 4.75px;
	left: 4px;
	height: 20px;
	width: auto;
}

.filler{
	height: 50px;
}

.footer{
  color: #00C6AE;
  height: auto;
  position: relative;
  padding-top: 5%;
	padding-right: 10%;
  padding-bottom: 20px;
  text-align: right;
  font-size: 22px;
}

.bottomline{
	font-size: 13px;
}
